.container-cards {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  min-width: 640px;
  max-width: 25rem;
  background-color: var(--cor-dourada-clara);
  position: relative;
}
.imagens {
  object-fit: cover;
  height: 200px;
  border: 0.25rem solid var(--cor-dourada);
  border-radius: 5px;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--cor-padrao-cinza-claro);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.preco-item {
  color: var(--cor-dourada);
}
.item-descricao{
  margin-bottom: 0;
  padding-top: 1rem;
}

.acao{
  color: brown;
}

.fa-utensils,
.fa-cheese,
.fa-candy-cane{
  color: var(--cor-dourada);
}

.icons-item{
  display: flex;
  align-items: center;
  position:absolute;
  bottom: 0;
}


/* ----------Media Queries---------- */

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .imagens {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .container-cards {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .imagens {
    height: 200px;
  }
}